<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Nouvelle interventions</h4>                
            </div>
            <div class="card-body">
                <form (ngSubmit)="processForm()">
                    <div class="row">
                        
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Date début" name = "dateDebut" type="date" [(ngModel)]="intervention.dateDebut">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Date fin" name="dateFin" type="date" [(ngModel)]="intervention.dateFin">
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Commentaire" type="text" name="commentaire" [(ngModel)]="intervention.commentaire">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Type de l'intervention</label>&nbsp;&nbsp;&nbsp;
                        <a style="cursor:pointer;"><i class="material-icons" style="font-size:20px">create</i><i (click)="newType()"><strong>Ajouter un type</strong></i></a>
                        <select class="form-control" name="type">
                          <option value="type1">Type 1</option>                                                                 
                          <option value="type2">Type 2</option>                                                                 
                          <option value="type3">Type 3</option>                                                                 
                        </select>                                
                      </div>
                      <div class="form-group">
                          <label>Facture</label>&nbsp;&nbsp;&nbsp;
                          <a style="cursor:pointer;"><i class="material-icons" style="font-size:20px">create</i><i (click)="newFacture()"><strong>Ajouter une facture</strong></i></a>
                          <select class="form-control" name="type">
                            <option value="facture1">facture 1</option>                                                                 
                            <option value="facture2">facture 2</option>                                                                 
                            <option value="facture3">facture 3</option>                                                                 
                          </select>                                
                        </div>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Valider</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    
</div>
