<div class="main-content">
    <div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title" *ngIf="!isUpdate">Nouvelle interventions</h4>
                <h4 class="card-title" *ngIf="isUpdate">Modification de l'interventions</h4>                    
            </div>
            <div class="card-body">
                <form (ngSubmit)="processForm()">
                    <div class="row">
                        
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input *ngIf="!isUpdate" matInput placeholder="Date début" name = "dateDebut" type="date" [(ngModel)]="intervention.dateDebut">
                              <input *ngIf="isUpdate" matInput placeholder="Date début" name = "dateDebut" type="datetime" [(ngModel)]="intervention.dateDebut">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input *ngIf="!isUpdate" matInput placeholder="Date fin" name="dateFin" type="date" [(ngModel)]="intervention.dateFin">
                              <input *ngIf="isUpdate" matInput placeholder="Date fin" name="dateFin" type="datetime" [(ngModel)]="intervention.dateFin">
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Commentaire" type="text" name="commentaire" [(ngModel)]="intervention.commentaire">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Type de l'intervention</label>&nbsp;&nbsp;&nbsp;
                        <a style="cursor:pointer;"><i class="material-icons" style="font-size:20px">create</i><i (click)="newType()"><strong>Ajouter un type</strong></i></a>
                        <div class="col-md-6">
                          <select class="form-control" name="type" class="browser-default custom-select" [(ngModel)]="type">                          
                            <option *ngFor="let t of types" value="{{t.id}}">{{t.libelle}}</option>                                                                                                                                                              
                          </select>
                        </div>                                
                      </div>
                      <div class="form-group">
                          <label>Facture</label>&nbsp;&nbsp;&nbsp;
                          <a style="cursor:pointer;"><i class="material-icons" style="font-size:20px">create</i><i (click)="newFacture()"><strong>Ajouter une facture</strong></i></a>
                          <div class="col-md-6">
                            <select class="form-control" name="facture" class="browser-default custom-select" [(ngModel)]="facture">
                              <option *ngFor="let f of factures" value="{{f.id}}">Date: {{f.date | date:'short'}} Montant: {{f.montant}}</option>                                                                                                                                                           
                            </select>             
                          </div>                   
                        </div>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Valider</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>