<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Historique des états</h4>
          </div>
          <div class="card-body">
            <div class="card-header card-header-light">              
              <div class="row">
                <div class="col-md-4"> 
                  <label for="">Particulier </label>&nbsp;
                  <input type="radio" name="typeclient" (click)="filterParticulier(false)" checked>                 
                  <select name="" id="" class="browser-default custom-select" [(ngModel)]="intervention" *ngIf="!filter" (change)="rechercherParInterv()">
                    <option value="">Filtrer par intervention ...</option>
                    <option  *ngFor="let i of allInterventions" value="{{i.id}}">De {{i.dateDebut | date:'short'}} à {{i.dateFin | date:'short'}}</option>                    
                  </select>
                </div>                                
                <div class="col-md-5">
                  <label for="">Par commentaire</label>&nbsp;
                  <input type="radio" name="typeclient" (click)="filterParticulier(true)"> 
                  <input type="text" placeholder="Filtrer par commentaire..." class="form-control" [(ngModel)]="commentaire" *ngIf="filter">
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-primary" (click)="rechercherParComm()" *ngIf="filter">Rechercher</button>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Durée éstimée (en heures)
                  </th>
                  <th>
                    Commentaire
                  </th>              
                </thead>
                <tbody>
                  <tr *ngFor="let etat of filtredEat">
                    <td>
                      {{etat.dureeEstime}}
                    </td>
                    <td>
                      {{etat.commentaire}}
                    </td>
                    <td>
                      
                    </td>
                    <td>
                      
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>