<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Historique des états</h4>
          </div>
          <div class="card-body">
            <div class="card-header card-header-light">              
              <div class="row">
                <div class="col-md-3">
                  <select name="" id="" class="browser-default custom-select">
                    <option value="">Interventions1</option>
                    <option value="">Interventions2</option>
                    <option value="">Interventions3</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <select name="" id="" class="browser-default custom-select">
                    <option value="">Voiture1</option>
                    <option value="">Voiture2</option>
                    <option value="">Voiture3</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <select name="" id="" class="browser-default custom-select">
                    <option value="">Client1</option>
                    <option value="">Client2</option>
                    <option value="">Client3</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <input type="text" placeholder="Filtrer par ..." class="form-control">
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Durée éstimée
                  </th>
                  <th>
                    Commentaire
                  </th>
                  <th>
                    Intervention
                  </th>
                  <th>
                    Voiture
                  </th>
                  <th>
                    Client
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>

                    </td>
                    <td>

                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>