<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 class="card-title ">Gestion des interventions</h4>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-1"><i class="material-icons" style="cursor: pointer;"
                                    (click)="newIntervention()">add_circle_outline</i></div>
                        </div>
                        <p class="card-category"> Liste des interventions</p>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Commentaire
                                    </th>
                                    <th>
                                        Date début
                                    </th>
                                    <th>
                                        Date fin
                                    </th>
                                    

                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of interventions">
                                        <td>
                                            {{i.commentaire}}
                                        </td>
                                        <td>
                                            {{i.dateDebut}}
                                        </td>
                                        <td>
                                            {{i.dateFin}}
                                        </td>                                                                                                                        
                                        <td><button type="button" class="btn btn-info">Pièces utilisées</button></td>  
                                        <td><button type="button" class="btn btn-info">Gestion des états</button></td>                                      
                                        <td><i class="material-icons" style="cursor: pointer;" (click)="update(i)">create</i></td>
                                        <td><i class="material-icons" style="cursor: pointer;color: red;" (click)="delete(i)">delete_sweep</i></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>