<div class="main-content">
  <div class="container-fluid">
     
          <app-interventionform></app-interventionform>
      
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Liste des interventions</h4>
                      <p class="card-category"> Gestion des interventions</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                        ID
                                  </th>
                                  <th>
                                        Date début
                                  </th>
                                  <th>
                                        Date fin
                                  </th>
                                  <th>
                                        Commentaire
                                  </th>
                                  
                              </thead>
                              <tbody>
                                  <tr *ngFor="let i of interventions">
                                      <td>
                                            {{i.id}}
                                      </td>
                                      <td>
                                            {{i.dateDebut}}
                                      </td>
                                      <td>
                                            {{i.dateFin}}
                                      </td>
                                      <td>
                                            {{i.commentaire}}
                                      </td>                                      
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
