<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Espace libre</p>
                      <h4 class="card-title">{{5-enAttente}} parmis 5 places</h4>
                  </div>
                  <div class="card-footer">
                      <p style="color: red;" *ngIf="enAttente == 5">Attention vous n'avez plus de places disponibles !</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Total des revenues</p>
                      <h3 class="card-title">{{totalRevenue}} DHs</h3>
                  </div>
                  <div class="card-footer">
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Interventions en cours</p>
                      <h3 class="card-title">{{enAttente}}</h3>
                  </div>
                  <div class="card-footer">
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-twitter"></i>
                      </div>
                      <p class="card-category">Nombre des clients</p>
                      <h3 class="card-title">{{nbClients}}</h3>
                  </div>
                  <div class="card-footer">
                      
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div style="display: block">
                <canvas baseChart
                        [datasets]="radarChartData"
                        [labels]="radarChartLabels"
                        [chartType]="radarChartType"></canvas>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <hr style="margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 3px solid rgba(0, 0, 0, 0.1);"/>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
            <div style="display: block">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                </canvas>
            </div>
        </div>
      </div>
      
</div>
